html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10;
}
ul li {
  list-style: none;
  text-align: center;
  color: #333;
  font-size: 6rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px 20px;
  border-radius: 10px;
}
ul:hover li {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
ul li:hover {
  color: #333;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.075);
}
ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: red;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.05);
  font-size: 20vw;
  -webkit-text-stroke: 0px #000;
  letter-spacing: 50px;
}
ul li:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 50px;
}
ul li:nth-child(1):before {
  background-image: linear-gradient(
    red 0%,
    red 33%,
    yellow 33%,
    yellow 66%,
    green 66%,
    green 100%
  );
}
ul li:nth-child(2):before {
  background-image: linear-gradient(red 0%, red 50%, blue 50%, blue 100%);
}
ul li:nth-child(3):before {
  background-image: linear-gradient(
    yellow 0%,
    yellow 50%,
    blue 50%,
    blue 75%,
    red 75%,
    red 100%
  );
}
